body{
    font-family: 'Montserrat',
    sans-serif;
    max-width: 100%;
    text-align: center;
}

html{
     max-width: 100%;
     overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
     font-family: 'Montserrat-bold',
        sans-serif;
}

p {
    color: #8f8f8f;
}

/* navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu',
        sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-light',
        sans-serif;
    font-size: 1.3rem;

}

/* Heading */

.big-heading{
    font-family: 'Montserrat-black',
    sans-serif;
    color: white;
    font-size: 4.3rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

#title {
    background-color: #30E3CA;
    text-align: left;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* Download Button */

.dowload-btn{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

.image-container{
    position: relative;
}


/* Features Section */

#features{
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-title{
    font-size: 1.5rem;
}

.ic {
    margin-bottom: 1rem;
    color: #ef8172;
}

.ic:hover {
    color: #30E3CA;
}

.feature-box{
    padding: 4.5%;
}

h3 {
    font-family: 'Montserrat-bold',
        sans-serif;
    font-size: 1.5rem;
}

/* Testimonial section */

#testimonials{
    background-color: #30E3CA;
    color: white;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
     background-color: #2dcfba;
     padding:2% 0 2% ;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    transition: transform 1s ease;
    padding: 7% 15%;
}

/* Price Section */

#pricing{
    padding: 100px;
}

.price-text{
     font-size: 3rem;
     line-height: 1.5;
     font-weight: 900;
}

.pricing-clm{
    padding: 3% 2%;
}

/* Call to Action */

#cta{
    background-color: #30E3CA;
    padding: 7% 15%;
}

/* Footer */

#footer{
    background-color: white;
    padding: 7% 15%;
}


@media (max-width : 1028px){
    .title-img{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }

    .testimonial-text {
        font-size: 2rem;
        line-height: 1.5;
    }

    .testimonial-img {
        width: 20%;
        border-radius: 100%;
        margin: 20px;
    }

    .cta-h3 {
        font-size: 4rem;
        line-height: 1.5;
        font-weight: 900;
    }
}
